.card-hand {
  background-image: url("../images/hands.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 926px;
  height: 577px;
  margin: 401px 43px;
  position: absolute;

}