

// Neat Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);


.center {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.position-card {
  margin-left: 202px;
  margin-top: 54px;
}

.player-score-bar {
  width: 32%;
}

.correct-cards {
  float: right;
  width: 35%;
}

.score-card-spacing {
  width: 32%;
  text-align: center;
  float: left;
}