html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: rgba(0,0,0,0.6);
  background: -moz-linear-gradient(left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 100%), url('../images/bg-letters.jpg') no-repeat;
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.6)), color-stop(30%, rgba(0,0,0,0.3)), color-stop(100%, rgba(0,0,0,0))), url('../images/bg-letters.jpg') no-repeat;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 100%), url('../images/bg-letters.jpg') no-repeat;
  background: -o-linear-gradient(left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 100%), url('../images/bg-letters.jpg') no-repeat;
  background: -ms-linear-gradient(left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 100%), url('../images/bg-letters.jpg') no-repeat;
  background: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 100%), url('../images/bg-letters.jpg') no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
  background-size: cover;
  }


.filter-menu {
  width: 25%;
  padding-left: 40px;
  clear: both;
}